html, body, h1
{
	margin: 0;
	padding: 0;
}
.baner
{
	background-color: #009999;
	color: white;
	text-align: center;
	height: 80px;
}
.panel
{
	font-family: Arial;
	background-color: #009999;
	color: white;
	text-align: center;
	width: 25%;
	height: 150px;
	float: left;
}
.lewy, .prawy, .srodkowy
{
	float: left;
}
.lewy, .prawy
{
	background-color: #669999;
	width: 30%;
	height: 600px;
}
.srodkowy
{
	background-color: #99CCCC;
	width: 40%;
	height: 600px;
	text-align: center;
}
.stopka
{
	background-color: #009999;
	color: white;
	text-align: right;
}
table, td
{
	border: 1px solid green;
	text-align: center;
	vertical-align: center;
}
button
{
	border: 0;
	margin: 10px;
	background-color: green;
	color: white;
}