html,body
{
	margin: 0;
	padding: 0;
}
.baner
{
	background-color: rgb(66,22,42);
	color: white;
	font-size: 140%;
	text-align: center;
	height: 100px;
	float: left;
	width: 100%;
}
.lewy
{
	background-color: rgb(142,115,110);
	width: 30%;
	height: 600px;
	color: white;
	float: left;
}
.prawy

{
	background-color: rgb(230,230,230);
	width: 70%;
	height: 600px;
	font-size: 120%;
	float: left;
}
.stopka
{
	background-color: rgb(142,115,110);
	color: white;
	text-align: right;
	height: 100px;
	float: left;
	width: 100%;
}