body
{
    background: linear-gradient(orange, yellow) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
.glowna
{
    
    width: 250px;
    height: auto;
    margin: auto;
    font-size: 20px;
}
.baner
{
    background-color: lightgray;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    margin: auto;
    font-family: monospace;
    box-shadow: 2px 2px 5px 3px white;

}
.przyciski
{
    
    border-radius: 10px;
    margin-top: 100px;
}
.przycisk
{
    
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: lightgray;
    margin-top: 20px;
    font-family: monospace;
    font-size: 20px;
    box-shadow: 2px 2px 5px 3px white;
    
}
.przycisk1
{
    
    border-radius: 5px;
    font-family: monospace;
    font-size: 20px;
    margin: auto;
   
       
}
.wygl
{
    margin: auto;
    border-radius: 5px;
    width: 200px;
    height: 30px;
   
}
.wygl1
{
    
    border-radius: 5px;
    height: 40px;
    width: 105px;
    background-color: lightgray;
}
table
{
    border-collapse: collapse;
    margin: auto;
    text-align: left;
    background: linear-gradient(lightblue, white);
    
    
}
td
{
    border: 1px solid black;
    width: 300px;
    height: 30px;
    
}

.selekcik
{
    margin: auto;
}