body
{
	background: url(tlo1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	font-family: fantasy;
}
.przycisk
{
	width: 150px;
	margin: auto;
	height: 50px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px 1px gray;
	font-size: 15px;
}
.przycisk1
{
	width: 150px;
	margin: auto;
	margin-top: 10px;
	height: 50px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px 1px gray;
	background: lightgray;
	font-size: 20px;
}
.tekst
{
	width: 250px;
	height: 40px;
	margin: auto;
	border-radius: 10px;
	box-shadow: 2px 2px 4px 1px gray;
	font-size: 20px;
	text-align: center;
	background-color: lightgray;
}
input[type=submit]:hover 
{
	cursor: pointer;
	background: white;
}
input[type=text]:hover 
{
	background: white;
}
img
{
	height: 100px;
}
.glowna1
{
	margin-top: 300px;
}
.pkt
{
	font-size: 40px;
	margin-top: 300px;
}
table {
    border-collapse: collapse;
    width: 1000px;
    margin: auto;
    background: white;
    box-shadow: 0 0 3px 2px white;
}

td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: middle;
    height: 20px;
}
tr:nth-child(2n) {
    background-color: lightgray;
}
li
{
    list-style-type: none;
    margin-left: -35px;
    font-size: 25px;
}
.inpucik
{
    width: 250px;
    border-radius: 3px;
    height: 25px;
    font-family: fantasy;
}